:root {
    /* --background-primary: hsl(345,11.1%,92.9%); */
    --dark-blue: hsl(191.4,100%,22.7%);
    --light-blue: hsl(192.9,31.8%,65.5%);
    --light-blue-2: hsl(191, 30%, 55%);
    --dark-green: hsl(97.3,17.8%,50.4%);
    --light-green: hsl(87,25.6%,84.7%);
    --yellow: hsl(47.4,99.2%,48.8%);
    --pink-red: hsl(12.6,26.7%,68.4%);
    --transparent: hsla(0, 0%, 100%, 0);
    --pink-cream: hsl(13, 53%, 84%);
  }

  /* Color Options */  
.is-dark-blue {
background-color: var(--dark-blue);
}

.is-light-blue {
background-color: var(--light-blue-2)
}

.is-dark-green {
background-color: var(--dark-green);
}

.is-light-green {
background-color: var(--light-green);
}

.is-yellow {
background-color: var(--yellow);
}

.is-pink-red {
background-color: var(--pink-red);
}

.is-pink-cream {
  background-color: var(--pink-cream);
}

.is-invisible {
background-color: hsl(0 100% 100% / 0.4);
}

/* Dropshadow */
.dropshadow-is-dark-blue {
box-shadow: 5px 5px 20px 5px var(--dark-blue);
}

.dropshadow-is-light-blue {
box-shadow: 10px 10px 5px 12px var(--light-blue)
}

.dropshadow-is-dark-green {
box-shadow: 10px 10px 5px 12px var(--dark-green);
}

.dropshadow-is-light-green {
box-shadow: 10px 10px 5px 12px var(--light-green);
}

.dropshadow-is-yellow {
box-shadow: 10px 10px 5px 12px var(--yellow);
}

.dropshadow-is-pink-red {
box-shadow: 10px 10px 5px 12px var(--pink-red);
}

.dropshadow-is-pink-cream {
  box-shadow: 10px 10px 5px 12px var(--pink-cream);
}