@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

html,

/* Currently Used */

body {
  margin: 0;
  padding: 0;
  /* height: 100%; */
  /* background-color: var(--background-primary); */
}


.navbar {
  /* background-color: hsl(0 100% 100% / 0.4); */
  transition: all .25s linear;
  /* min-height: 6rem; */
}

.is-not-scrolled {
  background-color: var(--transparent);
}

.columns {
  flex-grow: 1;
}



.is-project {
  max-width: 20vw;
}

@media only screen and (max-width: 768px) {
  .is-project {
      max-width: 80vw;
  }
} 
