:root {
    --level-size:100vh;
    --level-pad:20vh;
}

.level {
    display: flex;
    flex-wrap: wrap;
    

    height: var(--level-size);
    width: 100%;
    padding-top: var(--level-pad);
    padding-bottom: var(--level-pad);
}

.has-text {
    padding-right: 15vh;
    padding-left: 15vh;
}

.is-half-level {
    height: calc(var(--level-size) / 2);
}