:root {
    --level-size:100vh;
    --level-pad:15vh;
}

.is-large-level {
    min-height: var(--level-size);
    width: 100%;
    padding-top: var(--level-pad);
    padding-bottom: var(--level-pad);
}

.is-medium-level {
    min-height: calc(var(--level-size) * 3 / 4);
    width: 100%;
    padding-top: var(--level-pad);
    padding-bottom: var(--level-pad);
}

.has-text {
    padding-right: 15vh;
    padding-left: 15vh;
}

.title-text {
    width: 40vw;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .title-text {
        width: 80vw;
    }
}